{% extends 'layout.html' %}

{% block content %}
  {% if org %}
    <p>Hello, <a href="#{{ org|squishName }}">{{ org }}</a> member.</p>
  {% else %}
    <p>Welcome to the Hive Member Directory. If you log in using an
    email address registered for your organization, you can view
    members-only information and edit your organization's record.</p>
  {% endif %}
  {% asyncEach row in sheet.rows %}
    <h2 id="{{ row.val('Name of Organization')|squishName }}">
      <a href="#{{ row.val('Name of Organization')|squishName }}">
        {{ row.val('Name of Organization') }}
      </a>
    </h2>
    <div class="org-url">
      <a href="{{ row.val('URL')|normalizeURL }}">
        {{ row.val('URL')|domain }}
      </a>
    </div>
    <ul class="inline-list general-info">
      {% if row.val('Hive Member Since') %}
        <li><span class="label secondary">
          Hive member since {{ row.val('Hive Member Since') }}
        </span></li>
      {% endif %}
      {% if row.val('Youth Audience') %}
        <li><span class="label secondary">
          Audience is {{ row.val('Youth Audience') }}
        </span></li>
      {% endif %}
    </ul>
    <div class="org-mission">{{ row.val('Organizational Mission') }}</div>
    <ul class="inline-list social-links">
      {% if row.val('Facebook') %}
        <li><a href="{{ row.val('Facebook')|normalizeURL }}">
          <img src="{{ STATIC_ROOT }}/vendor/justvector/facebook_alt.png" alt="Facebook">
        </a></li>
      {% endif %}
      {% if row.val('Blog') %}
        <li><a href="{{ row.val('Blog')|normalizeURL }}">
          <img src="{{ STATIC_ROOT }}/vendor/justvector/rss.png" alt="Blog">
        </a></li>
      {% endif %}
    </ul>
    {% if sheet.canView %}
      {% if row.val('Contact 1') %}
      <h4 class="subheader">Contact</h4>
      <div class="org-contact">{{ row.val('Contact 1') }}</div>
      {% endif %}
      {% if row.val('Mailing Address') %}
      <h4 class="subheader">Mailing Address</h4>
      <div class="org-address">{{ row.val('Mailing Address') }}</div>
      <div class="map"><a href="https://maps.google.com/?q={{ row.val('Mailing Address')|encodeURIComponent }}">Map</a></div>
      {% endif %}
    {% endif %}
    {% if row.isEditable %}
      {% include "edit.html" %}
    {% endif %}
  {% endeach %}
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_ROOT }}/js/directory.js"></script>
{% endblock %}
