{% extends 'layout.html' %}

{% block content %}
  {% if sheet.editableRow %}
    {% set org = sheet.editableRow.val('Name of Organization') %}
    <p>Hello, <a href="#{{ org|squishName }}">{{ org }}</a> member.</p>
  {% else %}
    <p>Welcome to the Hive Member Directory. If you log in using an
    email address registered for your organization, you can view
    members-only information and edit your organization's record.</p>
  {% endif %}
  {% include "directory-embedded.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_ROOT }}/js/directory.js"></script>
{% endblock %}
