{% extends 'layout.html' %}

{% block content %}
  {% for row in sheet.rows %}
    <h2 id="{{ row.val('Name of Organization')|squishName }}">
      <a href="#{{ row.val('Name of Organization')|squishName }}">
        {{ row.val('Name of Organization') }}
      </a>
    </h2>
    <div class="org-url">
      <a href="{{ row.val('URL')|normalizeURL }}">
        {{ row.val('URL')|domain }}
      </a>
    </div>
    <div>
      {% if row.val('Hive Member Since') %}
      <span class="label secondary">
        Hive member since {{ row.val('Hive Member Since') }}
      </span>
      {% endif %}
    </div>
    <div class="org-mission">{{ row.val('Organizational Mission') }}</div>
    {% if sheet.canView %}
      {% if row.val('Contact 1') %}
      <h4 class="subheader">Contact</h4>
      <div class="org-contact">{{ row.val('Contact 1') }}</div>
      {% endif %}
    {% endif %}
    {% if row.isEditable %}
      <button class="js-edit-org-info">Edit Information</button>
      <div class="js-edit-org-info-form" style="display: none">
        <h4>Edit Information</h4>
        <p>Use the form below to make any changes to this organization's
          information.</p>
        <form method="POST" action="/edit">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input type="hidden" name="id" value="{{ row.id }}">
          {% for column in row %}
            <div class="row">
              <div class="large-12 columns">
                <label>{{ column.name }}</label>
                {% if column.help %}
                  <aside>{{ column.help }}</aside>
                {% endif %}
                <textarea name="{{ column.id }}">{{ column.value }}</textarea>
              </div>
            </div>
          {% endfor %}
          <button type="submit">Submit Changes</button>
        </form>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script src="/js/directory.js"></script>
{% endblock %}
