{% extends 'layout.html' %}

{% block head %}
<meta name="makeapi-url" content="{{ MAKEAPI_URL }}">
<link rel="stylesheet" href="{{ STATIC_ROOT }}/vendor/make-gallery/makeGallery.css">
{% endblock %}

{% block content %}
  <form method="get" action="/update">
    URL: <input type="text" id="url" name="url">
    <input type="submit">
  </form>
  <div class="make-gallery"></div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_ROOT }}/vendor/make-gallery/make-api.js"></script>
<script src="{{ STATIC_ROOT }}/vendor/make-gallery/makeGallery.js"></script>
<script src="{{ STATIC_ROOT }}/js/index.js"></script>
{% endblock %}
