{% extends 'layout.html' %}

{% block content %}
  <h2>Submit a URL</h2>
  <p>You can use the form below, or this
    <a href="{{ bookmarklet }}">Submit a Web Literacy Resource</a>
    bookmarklet.</p>
  <form method="get" action="/update" class="form">
    <div class="row">
      <div class="form-group col-sm-10">
        <label class="sr-only" for="url">URL</label>
        <input type="text" id="url" name="url" placeholder="http://" class="form-control input-sm">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-default btn-sm btn-block">Submit</button>
      </div>
    </div>
  </form>
  <h2>Gallery</h2>
  <p>Here are resources tagged with
    <a href="{{ WEBMAKER_URL }}/standard">Web Literacy Map</a> metadata
    on <a href="{{ WEBMAKER_URL }}">{{ WEBMAKER_DOMAIN }}</a>.</p>
  <form method="get" class="form">
    <div class="row">
      <div class="form-group col-sm-10">
        <label class="sr-only" for="filter-criteria">Filter Criteria</label>
        <input type="text" id="filter-criteria" value="{{ filter }}" name="filter" placeholder="Enter a filter criteria here, e.g. user:boop #Exploring #Coding" class="form-control input-sm">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-default btn-sm btn-block">Filter</button>
      </div>
    </div>
    <p><small>
      Valid tags include
      {% for tag in tags %}
        <code>#{{ tag }}</code>
      {% endfor %}
      .
    </small></p>
  </form>

  <div class="make-gallery"></div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_ROOT }}/vendor/masonry.pkgd{{ DOT_MIN }}.js"></script>
<script src="{{ STATIC_ROOT }}/js/index.js"></script>
{% endblock %}
