<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="csrf" content="{{ csrfToken }}">
  <meta name="email" content="{{ email }}">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC_ROOT }}/vendor/makerstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_ROOT }}/css/style.css">
  <link rel="stylesheet" href="{{ STATIC_ROOT }}/css/feedback.css">
  {% block head %}{% endblock %}
  <title>{% block title %}Web Literacy Mapper{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Web Literacy Mapper</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if email %}
        <li><button type="button" class="js-logout btn btn-primary navbar-btn">Logout
          {% if username %}
            {{ username }}
          {% else %}
            {{email}}
          {% endif %}</button></li>
        {% else %}
        <li><button type="button" class="js-login btn btn-primary navbar-btn">Login</button></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div id="feedback">
    <a href="https://etherpad.mozilla.org/weblitmapper-feedback">feedback</a>
  </div>

  <div class="container">
    <div id="alerts">
    {% set flashMessages = fetchAndClearFlashMessages() %}
    {% for message in flashMessages %}
      <div class="alert alert-{{ message.category }}">
        {{ message.content }}
      </div>
    {% endfor %}
    </div>

    {% block content %}{% endblock %}
  </div>

  <script src="{{ STATIC_ROOT }}/vendor/jquery{{ DOT_MIN }}.js"></script>
  <script src="{{ PERSONA_JS_URL }}"></script>
  <script src="{{ STATIC_ROOT }}/js/login.js"></script>
  {% block scripts %}{% endblock %}
</body>
