{% extends 'layout.html' %}

{% macro tagCheckbox(thing) -%}
  <label for="weblit_{{ thing.tag }}">
    <input type="checkbox" id="weblit_{{ thing.tag }}"
     name="weblit_{{ thing.tag }}"
     {% if entry.hasTag(thing.tag) %}checked{% endif %}>
    {{ thing.name }}
  </label>
{%- endmacro %}

{% block content %}
  <p>URL: {{ entry.url }}</p>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="url" value="{{ entry.url }}">

    <p>Title: <input type="text" name="title" value="{{ entry.title }}"></p>

    <p>Description:</p>
    <textarea name="description">{{ entry.description }}</textarea>

    <div class="strands">
    {% for strand in weblitmap.strands %}
      <div class="strand">
        <div class="strand-box">{{ tagCheckbox(strand) }}</div>
        {% for competency in strand.competencies %}
        <div class="competency-box" style="background-color: {{ competency.colour }}">{{ tagCheckbox(competency) }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <input type="submit">
  </form>
{% endblock %}
