{% extends 'layout.html' %}

{% macro tagCheckbox(thing) -%}
  <label for="weblit_{{ thing.tag }}">
    <input type="checkbox" id="weblit_{{ thing.tag }}"
     name="weblit_{{ thing.tag }}"
     {% if entry.hasTag(thing.tag) %}checked{% endif %}>
    {{ thing.name }}
  </label>
{%- endmacro %}

{% block content %}
  <p>URL: {{ entry.url }}</p>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="url" value="{{ entry.url }}">

    <p>Title: <input type="text" name="title" value="{{ entry.title }}"></p>

    <p>Description:</p>
    <textarea name="description">{{ entry.description }}</textarea>

    {% for strand in weblitmap.strands %}
      <h2>{{ tagCheckbox(strand) }}</h2>
      {% for competency in strand.competencies %}
      <h3>{{ tagCheckbox(competency) }}</h3>
        {% for skill in competency.skills %}
          <p>{{ tagCheckbox(skill) }}</p>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    <input type="submit">
  </form>
{% endblock %}
