{% extends 'layout.html' %}

{% macro tagCheckbox(thing) -%}
  <label for="weblit_{{ thing.tag }}">
    <input type="checkbox" id="weblit_{{ thing.tag }}"
     name="weblit_{{ thing.tag }}"
     {% if entry.hasTag(thing.tag) %}checked{% endif %}>
    {{ thing.name }}
  </label>
{%- endmacro %}

{% block content %}
  <h2>Web Literacy Information for {{ entry.url }}</h2>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="url" value="{{ entry.url }}">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ entry.title }}">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" name="description">{{ entry.description }}</textarea>
    </div>

    <div class="strands row">
    {% for strand in weblitmap.strands %}
      <div class="strand col-md-4">
        <div class="strand-box">{{ tagCheckbox(strand) }}</div>
        {% for competency in strand.competencies %}
        <div class="competency-box" style="background-color: {{ competency.colour }}">{{ tagCheckbox(competency) }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
