h2 > a, h2 > a:hover {
  color: inherit;
}

h2 > a:hover:after {
  content: '#';
  color: gray;
}

.content {
  margin: 15px;
}

.general-info {
  text-transform: lowercase;
}

.org-mission, .org-contact, .org-address {
  margin: 1em 0;
  white-space: pre-wrap;
  line-height: 1.5em;
}

.org-contact, .org-address, .map {
  font-size: 75%;
}

.org-url {
  margin-top: -0.75em;
  margin-bottom: 1em;
}

.map {
  margin-top: -1em;
  margin-bottom: 1em;
}

form aside {
  color: gray;
  font-size: smaller;
  margin-bottom: 1em;
}

.stubbyid button {
  padding: 2px 6px;
  font-size: smaller;
  margin: 0px;
}

.social-links img {
  height: 24px;
  width: 24px;
}

.social-links a {
  opacity: 0.5;
  transition: opacity 0.25s;
}

.social-links a:hover {
  opacity: 1;
}
