.stubbyid button {
  padding: 2px 6px;
  font-size: smaller;
  margin: 0px;
}

body {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}

.strands {
  padding: 10px 0;
}

.strand-box, .competency-box {
  padding: 4px;
}

.strand input[type=checkbox] {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  background: white;
}

.strand label {
  margin: 0;
}

.strand-box {
  color: white;
  background-color: black;
}

.competency-box {
  color: white;
}

.competency-details {
  font-size: smaller;
  display: none;
}

.toggle-competency-details {
  float: right;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.toggle-competency-details:hover {
  background: black;
  color: white;
}
