.stubbyid button {
  padding: 2px 6px;
  font-size: smaller;
  margin: 0px;
}

body {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}

.strands {
  padding: 10px 0;
}

.strand-box, .competency-box {
  padding: 4px;
}

.strand input[type=checkbox] {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  background: white;
}

.strand label {
  margin: 0;
}

.strand-box {
  color: white;
  background-color: #333;
}

.competency-box {
  color: white;
}

.competency-details {
  font-size: smaller;
  display: none;
}

.toggle-competency-details {
  float: right;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.toggle-competency-details:hover {
  background: black;
  color: white;
}

.make-gallery {
  padding-top: 1em;
}

.make-gallery .media {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  /* If we don't do this, items w/o much text won't be 100% width. */
  .make-gallery .make-item {
    width: 100%;
  }
}

.make-gallery .make-item {
  border-top: 1px solid #f0f0f0;
  padding-bottom: 2em;
}

.make-gallery-throbber {
  display: block;
  margin: 0 auto;
}
